<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Skazule-Employee.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>729988643213D80801C7BBBA794367124AFECD7F</string>
				<key>dateExpires</key>
				<string>7/6/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>729988643213D80801C7BBBA794367124AFECD7F</string>
						<key>dateExpires</key>
						<string>7/6/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>APJTextPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>729988643213D80801C7BBBA794367124AFECD7F</string>
						<key>dateExpires</key>
						<string>7/6/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>729988643213D80801C7BBBA794367124AFECD7F</string>
						<key>dateExpires</key>
						<string>7/6/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>729988643213D80801C7BBBA794367124AFECD7F</string>
						<key>dateExpires</key>
						<string>7/6/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>729988643213D80801C7BBBA794367124AFECD7F</string>
						<key>dateExpires</key>
						<string>7/6/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>LGSideMenuController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>729988643213D80801C7BBBA794367124AFECD7F</string>
						<key>dateExpires</key>
						<string>7/6/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>729988643213D80801C7BBBA794367124AFECD7F</string>
						<key>dateExpires</key>
						<string>7/6/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>729988643213D80801C7BBBA794367124AFECD7F</string>
						<key>dateExpires</key>
						<string>7/6/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>729988643213D80801C7BBBA794367124AFECD7F</string>
						<key>dateExpires</key>
						<string>7/6/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>729988643213D80801C7BBBA794367124AFECD7F</string>
						<key>dateExpires</key>
						<string>7/6/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4CK42MSB9T.cts.Skazule-Employee</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4CK42MSB9T</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4CK42MSB9T.cts.Skazule-Employee</string>
				</array>
			</dict>
			<key>name</key>
			<string>Skazule-Employee.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6b71545b-6a84-4faa-b8d9-6d175a82fedb</string>
				<key>dateExpires</key>
				<string>4/9/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4CK42MSB9T</string>
				<key>name</key>
				<string>Mohit Chawla</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
