<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Skazule-Employee.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ABB491DF1915947628017F9FA95BB04488303601</string>
				<key>dateExpires</key>
				<string>3/19/24</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>APJTextPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorageInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LGSideMenuController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABB491DF1915947628017F9FA95BB04488303601</string>
						<key>dateExpires</key>
						<string>3/19/24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4CK42MSB9T</string>
						<key>name</key>
						<string>Mohit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4CK42MSB9T.cts.Skazule-Employee</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4CK42MSB9T</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4CK42MSB9T.cts.Skazule-Employee</string>
				</array>
			</dict>
			<key>name</key>
			<string>Skazule-Employee.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>dc5a1970-de9d-406b-8176-7d23866bcfc3</string>
				<key>dateExpires</key>
				<string>4/19/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4CK42MSB9T</string>
				<key>name</key>
				<string>Mohit Chawla</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
